<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="de.rub.nds.sshattacker.core.workflow.action.GenericReceiveAction" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.rub.nds.tlsattacker.transport.tcp.ClientTcpTransportHandler" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.rub.nds.sshattacker.core.protocol.common.Handler" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.rub.nds.sshattacker.core.protocol.common.Preparator" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.rub.nds.sshattacker" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>